**LAB 3: LÀM SẠCH DỮ LIỆU CƠ BẢN**

Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề “Missing header in the csv file”

In [3]:
import pandas as pd
import seaborn as sns
#Thêm header vào DF để diễn giải đữ liệu
column_names = ["Id", "Name", "Age", "Weight", "m0006", "m0612", "m1218", "f0006", "f0612", "f1218"]
# Đọc file CSV, bỏ qua các dòng bị lỗi và sử dụng 'column_names' làm header
df = pd.read_csv("patient_heart_rate.csv", names=column_names, on_bad_lines='skip')
# Hiển thị một vài dòng dữ liệu đầu tiên
df.head()

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao
gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [4]:
df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
df

,Id,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Firstname,Lastname
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
11,10.0,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck
12,11.0,NaN,60kgs,78,75,72,-,-,-,Henry,Nam
13,12.0,34.0,NaN,65,67,55,-,-,-,Michel,Long
14,13.0,NaN,NaN,-,-,-,68,72,70,Tana,Ricky
15,15.0,52.0,180lbs,-,-,-,68,75,72,NaN,NaN

Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu.
Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”

In [5]:
weight = df['Weight']

for i in range (0,len(weight)):
  x= str(weight[i])
  if "lbs" in x[-3:]:
    x = x[:-3:]
    float_x = float(x)
    y =int(float_x/2.2)
    y = str(y)+"kgs"
    weight[i]= y
df

/tmp/ipython-input-397988104.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
/tmp/ipython-input-397988104.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
/tmp/ipython-input-397988104.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
/tmp/ipython-input-397988104.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
/tmp/ipython-input-397988104.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có
thể đưa ra là xóa bỏ

In [6]:
df.dropna(how="all", inplace=True)
df

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname,
age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải
dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [7]:
df = df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
df

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII.
Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác
hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

In [8]:
df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)
df

/tmp/ipython-input-3320895058.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)
/tmp/ipython-input-3320895058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)
/tmp/ipython-input-3320895058.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)
/tmp/ipython-input-3320895058.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 7: “Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart
Rate”. Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ
liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề
này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa
đề xuất từ chuyên gia như sau:
- a. Deletion: Remove records with missing values
- b. Dummy substitution: Replace missing values with a dummy but valid value:
e.g.: 0 for numerical values.
- c. Mean substitution: Replace the missing values with the mean.
- d. Frequent substitution: Replace the missing values with the most frequent item.
- e. Improve the data collector: Your business folk will talk to the clients and inform
them about why it is worth fixing the problem with the data collector.

In [9]:
#Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight
# Thống kê số lượng dữ liệu thiếu
df[['Age', 'Weight']].isna().sum()
# Thống kê tỷ lệ dữ liệu thiếu (%)
df[['Age', 'Weight']].isna().mean() * 100

Age       23.076923
Weight    23.076923
dtype: float64

In [10]:
# Xóa dòng thiếu cả Age và Weight
df_clean = df.dropna(subset=['Age', 'Weight'], how='all').copy()

# Tính mean Age
age_mean = df_clean['Age'].mean()

# Điền Age bị thiếu bằng mean
df_clean.loc[:, 'Age'] = df_clean['Age'].fillna(age_mean)

# Kiểm tra lại
df_clean[['Age', 'Weight']].isna().sum()

Age       0
Weight    2
dtype: int64

Vấn đề 8: “một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta
thấy header “m0006” chứa các nội dung bao gồm: m → male, 1218 ~ 12-18 (mm-dd).
Còn giá trị thì là kết quả huyết áp.

In [15]:
df = pd.melt(df_clean, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'], value_name='PulseRate', var_name='sex_and_time')
tmp_df = df['sex_and_time'].str.extract(r'(\D)(\d{2})(\d{2})', expand=True)
tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]
tmp_df["Time"] = tmp_df["hours_lower"] + "-" + tmp_df["hours_upper"]
df = pd.concat([df, tmp_df], axis=1)
df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)
df = df.dropna(subset=['PulseRate'])
df = df.sort_values(by=['Id', 'Time']).reset_index(drop=True)
df

      Id   Age Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06
1    1.0  56.0  70kgs     Micky     Mous         -   f  00-06
2    1.0  56.0  70kgs     Micky     Mous        69   m  06-12
3    1.0  56.0  70kgs     Micky     Mous         -   f  06-12
4    1.0  56.0  70kgs     Micky     Mous        71   m  12-18
..   ...   ...    ...       ...      ...       ...  ..    ...
66  15.0  52.0  81kgs       NaN      NaN        68   f  00-06
67  15.0  52.0  81kgs       NaN      NaN         -   m  06-12
68  15.0  52.0  81kgs       NaN      NaN        75   f  06-12
69  15.0  52.0  81kgs       NaN      NaN         -   m  12-18
70  15.0  52.0  81kgs       NaN      NaN        72   f  12-18

[71 rows x 8 columns]

 11. Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng phương pháp sau
- Thay thế bằng giá trị trung bình liền trước và liền sau của người đó. Nếu không
được thì dùng 2)
- Thay thế bằng giá trị trung bình 2 giá liền trước của người đó. Nếu không được
thì dùng 3)
- Thay thế bằng giá trị trung bình 2 giá liền sau của người đó. Nếu không được thì
dùng 4)
- Trung bình của các giá trị huyết áp của người đó. Nếu không được thì dùng 5).
- Trung bình của các giá trị huyết áp của nhóm giới tính. Nếu không được thì dùng 6)
- Trung bình của các giá trị dữ liệu. Nếu không được thì thay bằng mức ổn định
trong y học.

In [17]:
import numpy as np
df['PulseRate'] = df['PulseRate'].replace('-', np.nan)
df['PulseRate'] = pd.to_numeric(df['PulseRate'], errors='coerce')
df = df.sort_values(by=['Firstname', 'Lastname', 'Id', 'Time']).reset_index(drop=True)
# 1. Khảo sát ban đầu
initial_missing = df['PulseRate'].isna().sum()
print(f"Tỉ lệ dữ liệu thiếu ban đầu: {initial_missing}/{len(df)} ({initial_missing/len(df):.2%})\n")

# Lưu trữ số lượng xử lý của từng phương pháp
methods_count = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0}

# Tạo định danh người (person_id) để nhóm chính xác
df['person_id'] = df['Id'].astype(str) + df['Firstname'].astype(str) + df['Lastname'].astype(str)

# 2. Xử lý dữ liệu thiếu theo từng phương pháp ưu tiên
for idx in df[df['PulseRate'].isna()].index:
    row = df.loc[idx]
    # Lấy danh sách các dòng của cùng một người
    p_indices = df[df['person_id'] == row['person_id']].index.tolist()
    pos = p_indices.index(idx)

    filled = False

    # Phương pháp 1: Thay thế bằng TB liền trước và liền sau của người đó
    if not filled and pos > 0 and pos < len(p_indices) - 1:
        v_prev, v_next = df.at[p_indices[pos-1], 'PulseRate'], df.at[p_indices[pos+1], 'PulseRate']
        if pd.notna(v_prev) and pd.notna(v_next):
            df.at[idx, 'PulseRate'] = (v_prev + v_next) / 2
            methods_count[1] += 1
            filled = True
    # Phương pháp 2: Thay thế bằng TB 2 giá liền trước của người đó
    if not filled and pos >= 2:
        v1, v2 = df.at[p_indices[pos-1], 'PulseRate'], df.at[p_indices[pos-2], 'PulseRate']
        if pd.notna(v1) and pd.notna(v2):
            df.at[idx, 'PulseRate'] = (v1 + v2) / 2
            methods_count[2] += 1
            filled = True
    # Phương pháp 3: Thay thế bằng TB 2 giá liền sau của người đó
    if not filled and pos <= len(p_indices) - 3:
        v1, v2 = df.at[p_indices[pos+1], 'PulseRate'], df.at[p_indices[pos+2], 'PulseRate']
        if pd.notna(v1) and pd.notna(v2):
            df.at[idx, 'PulseRate'] = (v1 + v2) / 2
            methods_count[3] += 1
            filled = True
    # Phương pháp 4: Trung bình của các giá trị huyết áp của người đó
    if not filled:
        p_mean = df[df['person_id'] == row['person_id']]['PulseRate'].mean()
        if pd.notna(p_mean):
            df.at[idx, 'PulseRate'] = p_mean
            methods_count[4] += 1
            filled = True
    # Phương pháp 5: Trung bình của các giá trị huyết áp của nhóm giới tính
    if not filled:
        s_mean = df[df['Sex'] == row['Sex']]['PulseRate'].mean()
        if pd.notna(s_mean):
            df.at[idx, 'PulseRate'] = s_mean
            methods_count[5] += 1
            filled = True
    # Phương pháp 6: Trung bình của các giá trị dữ liệu / Mức ổn định (72)
    if not filled:
      g_mean = df['PulseRate'].mean()
      df.at[idx, 'PulseRate'] = g_mean if pd.notna(g_mean) else 72.0
      methods_count[6] += 1

# In kết quả chi tiết
print(f"Thay bằng TB liền trước và liền sau: {methods_count[1]} dòng")
print(f"Thay bằng TB 2 giá liền trước: {methods_count[2]} dòng")
print(f"Thay bằng TB 2 giá liền sau: {methods_count[3]} dòng")
print(f"B của các giá trị huyết áp của người đó: {methods_count[4]} dòng")
print(f"TB của các giá trị huyết áp của nhóm giới tính: {methods_count[5]} dòng")
print(f"TB của các giá trị dữ liệu mức ổn định: {methods_count[6]} dòng")

Tỉ lệ dữ liệu thiếu ban đầu: 36/71 (50.70%)

Thay bằng TB liền trước và liền sau: 23 dòng
Thay bằng TB 2 giá liền trước: 6 dòng
Thay bằng TB 2 giá liền sau: 0 dòng
B của các giá trị huyết áp của người đó: 7 dòng
TB của các giá trị huyết áp của nhóm giới tính: 0 dòng
TB của các giá trị dữ liệu mức ổn định: 0 dòng

12. Hãy rút gọn dữ liệu phù hợp và reindex lại dữ liệu. Sau đó, lưu trữ dữ liệu đã xử lý thành công với tên file patient_heart_rate_clean.csv

Lưu ý: Ngoài ra còn rất nhiều vấn đề về mặt xử lý dữ liệu dựa trên nhiều khía cạnh khác
nhau tùy vào sự am hiểu về dữ liệu của các chuyên gia như:
- Handling dates
- Correcting character encodings (a problem you hit when you scrape data off the
web)

In [18]:
df = df[['Id', 'Firstname', 'Lastname', 'Age', 'Weight', 'Sex', 'Time', 'PulseRate']]
df = df.sort_values(by=['Id', 'Time'])

#Reindex lại dữ liệu
df = df.reset_index(drop=True)

# Lưu trữ dữ liệu sạch
df.to_csv("patient_heart_rate_clean.csv", index=False)

print("lưu file thành công: patient_heart_rate_clean.csv")
df

lưu file thành công: patient_heart_rate_clean.csv

      Id Firstname Lastname   Age Weight Sex   Time  PulseRate
0    1.0     Micky     Mous  56.0  70kgs   m  00-06       72.0
1    1.0     Micky     Mous  56.0  70kgs   f  00-06       70.5
2    1.0     Micky     Mous  56.0  70kgs   m  06-12       69.0
3    1.0     Micky     Mous  56.0  70kgs   f  06-12       70.0
4    1.0     Micky     Mous  56.0  70kgs   m  12-18       71.0
..   ...       ...      ...   ...    ...  ..    ...        ...
66  15.0       NaN      NaN  52.0  81kgs   f  00-06       68.0
67  15.0       NaN      NaN  52.0  81kgs   m  06-12       71.5
68  15.0       NaN      NaN  52.0  81kgs   f  06-12       75.0
69  15.0       NaN      NaN  52.0  81kgs   m  12-18       73.5
70  15.0       NaN      NaN  52.0  81kgs   f  12-18       72.0

[71 rows x 8 columns]